<div class="center-block">
 <div class="card">
  <div class="card-header">
    <h3>注文内容入力</h3>
  </div>
  <div class="card-body m-4">
<%= render partial: 'form', locals: {cart_items: @cart_items } %>
  </div>
 </div>
</div>
<%= @from %><br>
<%= @to %>