<div class="card">
  <div class="card-body">
    <h4 class="card-title">ショッピングカート</h4>
    <div class="text-right">
    <h5 class="mr-4">価格</h5>
    </div>
    <hr>
<% if @cart_items.present? %>
   <%= render partial: 'bill', locals: {cart_items: @cart_items } %>
  
     <%= link_to '注文', orders_path, class: 'btn btn-primary' %>
     
<% else %>
      <div class="card text-center">
       <div class="card-body">
        <h5 class="card-title">現在カートに商品はありません</h5>
       </div>

<% end %>
  </div>
</div>



