// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
    padding: 0.75rem 1.25rem 0 1.25rem !important;
}

.btn-to-show {
    position: absolute;
        bottom: 1rem;
        right: 1rem;
}

.review-text {
    margin-bottom: 50px;
}