  <div class="row">
      <div class="col-md-3 py-5">
          <div class="card" style="width: 15rem;">
              <div class="card-header">
                  カテゴリー
              </div>
              <ul class="list-group list-group-flush">
                  <% @tags.each do |tag| %>
                  <li class="list-group-item">
                      <%= link_to tag, products_path(tag_name: tag.name) %>
                  </li>
                  <% end %>
              </ul>
          </div>
      </div>

      <div class="col-md-9">
          <div class="album py-5">
              <div class="row">
                  <%= render partial: 'products/productIndex', locals: { products: @products } %>
              </div>
          </div>
          <%= paginate @products %>
      </div>
  </div>